# GEE credentials
gee-credentials.json

# Node.js dependencies
node_modules/
package-lock.json
node_modules/.package-lock.json
node_modules/.bin/

# Environment variables
.env

# Logs
logs/

# Project-specific directories
projects/

# Temporary files
.node-xmlhttprequest-sync-*
debug.html
debug.pdf
*.pdf

# Test files
testgee.js